<header
  class="p-3 text-bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom"
>
  <div class="col-md-3 mb-2 mb-md-0">
    <img
      src="/img/logo.png"
      alt="logo"
      style="max-height: 30px"
      class="bi"
      height="32"
      role="img"
      aria-label="Bootstrap"
    />
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a href="/" class="nav-link px-2 link-secondary text-secondary">Home</a>
    </li>
  </ul>

  <div class="col-md-3 text-end">
    <a
      href="mailto:<%= siteInfo.email %>"
      class="d-inline-flex link-body-emphasis text-decoration-none"
    >
      <%= siteInfo.email %>
    </a>
    |
    <a
      href="tel:<%= siteInfo.phone %>"
      class="d-inline-flex link-body-emphasis text-decoration-none"
    >
      <%= siteInfo.phone %>
    </a>
  </div>
</header>
