<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script defer src="/js/bootstrap.bundle.js"></script>
    <title>Error</title>
  </head>
  <body style="background-color: var(--bs-gray-500)">
    <div class="container text-center">
      <div class="mt-5 row text-black">
        <h1>Error</h1>
      </div>
      <div class="row align-items-start align-items-center">
        Sorry, there is an error
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
