<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script defer src="/js/bootstrap.bundle.js"></script>
    <title><%= siteInfo.siteName %> | Add User</title>
  </head>
  <body>
    <%- userInfo.role==='admin'? include('../partials/backend_navbar.ejs'):
    include('../partials/super_navbar.ejs') %>
    <div class="container mt-5">
      <div class="row justify-content-center"></div>
    </div>
  </body>
</html>
